- if user_signed_in?
  %span.status Logged in as #{current_user.name}
  %a.btn{:href => signout_path} Logout
- else
  %input.input-small{:type=>"text", :placeholder => "Username"}
  %input.input-small{:type=>"password", :placeholder=>"Password"}
  %a#or or 
  %a.btn.primary{:href => signin_path}
    Facebook Login
